{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/search_books.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/search_books.js' %}"></script>
    <title>Story 8 - Ajax</title>
{% endblock head %}
 
{% block content %}
<div class="page_title">
    <h2>Search Book</h2>
</div>
<div class="d-flex flex-row align-items-center justify-content-center mb-5">
    <input id="keyword" placeholder="Search Book Here..." class="form-control ml-3">
    <button id="search_button" type="button" class="btn btn-outline-primary ml-3">Search</button>
</div>
<div id="search_result">
        
</div>
{% endblock content %}
