.accordion_item{
    border-radius: 0.2em;
}
.accordion_header{
    font-family: sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #0478FF;
    color: #ffffff;
    transition: all 0.3s;
}
.accordion_header:hover{
    background-color: #0064D9;
}

.accordion_content{
    padding: 5px;
    background-color: #ffffff; 
    text-align: center;
}

.accordion_header .fa {
    border-radius: 0.5em;
}

.accordion_header .fa:hover {
    background-color: red;
}