.page_title {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    font-size: smaller;
    text-align: justify;
}

.form-control, .btn{
    border-radius: 1em;
}
