body {
  background-color: #EDE5E5;
  margin-top: 5rem;
  font-family: sans-serif;
}

.top-bar-color {
  background-color: #5f788a;
}

.content-section {
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 3px;
  margin-bottom: 20px;
}

#foto img {
  max-width: 15rem;
}

h2, h3, h4, h5 {
  color: #444444;
  font-weight: 700;
  line-height: 1.6em;
}

p {
  color: #444444;
}