{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/accordion.css' %}">
    <script src="{% static 'js/accordion.js' %}"></script>
    <title>Story 7 - Accordion</title>
{% endblock head %}

{% block content %}
<div class="accordion_item">
    <div class="accordion_header d-flex justify-content-between p-4">
        Aktivitas
        <div>
            <span class="button_up"><i class="fa fa-arrow-alt-circle-up"></i></span>
            <span class="button_down"><i class="fa fa-arrow-alt-circle-down"></i></span>
        </div>
    </div>
    <div class="accordion_content">
        Menanam pohon AVL 
    </div>
</div>
<div class="accordion_item">
    <div class="accordion_header d-flex justify-content-between p-4">
        Organisasi/Kepanitiaan
        <div>
            <span class="button_up"><i class="fa fa-arrow-alt-circle-up"></i></span>
            <span class="button_down"><i class="fa fa-arrow-alt-circle-down"></i></span>
        </div>
    </div>
    <div class="accordion_content">
        Staff Penunjang SIWAK 2020
    </div>
</div>    
<div class="accordion_item">
    <div class="accordion_header d-flex justify-content-between p-4">
        Prestasi
        <div>
            <span class="button_up"><i class="fa fa-arrow-alt-circle-up"></i></span>
            <span class="button_down"><i class="fa fa-arrow-alt-circle-down"></i></span>
        </div>
    </div>
    <div class="accordion_content">
        Marathon One Piece dalam 3 bulan :v
    </div>
</div>
<div class="accordion_item">
    <div class="accordion_header d-flex justify-content-between p-4">
        Hobi
        <div>
            <span class="button_up"><i class="fa fa-arrow-alt-circle-up"></i></span>
            <span class="button_down"><i class="fa fa-arrow-alt-circle-down"></i></span>
        </div>
    </div>
    <div class="accordion_content">
        Bermain Genshin Impact
    </div>
</div>
{% endblock content %}
