{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}

{% block meta %}
    <title>Story 6</title>
{% endblock meta %}

{% block content %}
    <a class="justify-content-center align-items-center" href="{% url 'story_6:add_activity' %}"><h2>Add activity</h2></a>
    {% for activity in activities reversed %}
    <div class="container">
        <div class="content-section" style="border-radius: 20px">
            <legend class="border-bottom mb-4">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <h2>{{ activity.name }}</h2>
                    <form class="m-2" action="{% url 'story_6:delete_activity' id=activity.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </form>
                </div>
            </legend>

            {% if activity.person_set.all %}
                <h3><b>Daftar Peserta:</b></h3>
            {% endif %}
            {% for person in activity.person_set.all %}
                <div class="m-2">
                    <h3 style="display: inline;"> {{ person.name }} </h3>
                    <form style="display: inline;" action="{% url 'story_6:delete_person' id=person.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Hapus</button>
                    </form>
                </div>
                {% empty %}
                <h3 style="text-align: center">
                    Tidak ada peserta!, silahkan klik "Tambah Peserta" untuk 
                    menambahkan peserta
                </h3>
            {% endfor %}
            
            <form action="{% url 'story_6:activity'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="activity" value="{{ activity.id }}">
                <div class="d-flex flex-row align-items-center justify-content-center m-1">
                    {{form.name|as_crispy_field}}
                    <button class="btn btn-success ml-3" type="submit">Tambah Peserta</button>
                </div>
            </form>
        </div>
    </div>
    {% empty %}
        <h3 class="m">
            Tidak ada kegiatan yang tersedia!, silahkan klik "Add Activity" untuk 
            menambahkan kegiatan
        </h3>
    {% endfor %}
{% endblock content %}
