{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}
{% block content %}
<div class="container">
    <div class="content-section" style="border-radius: 20px">
        <form action="{% url 'story_6:add_activity' %}" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h2>Tambah Kegiatan</h2></legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-success" type="submit">Tambah Kegiatan</button>
            <a href="{% url 'story_6:activity' %}" class="btn btn-dark">Back</a>
        </form>
    </div>
</div>

{% endblock %}

{% block userscript %}
{% endblock %}
