{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/story9.css' %}">
    <title>Story 9</title>
{% endblock head %}
 
{% block content %}
<div class="content-section text-center" style="border-radius: 1em">
    {% if username %}
    <h2 class="text-center">Welcome, {{ username }}!</h2>
    <a href="{% url 'story9:sign_out' %}"><button class="btn btn-danger">Sign Out</button></a>
    {% else %}
    <h2>Welcome, please <a href="{% url 'story9:sign_in' %}">sign in</a> first</h2>
    {% endif %}
</div>
{% endblock content %}
