{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/story9.css' %}">
    <title>Story 9</title>
{% endblock head %}
 
{% block content %}
<div class="content-section align-self-center m-5" style="border-radius: 1em">
    <form method="POST">
        <legend class="border-bottom mb-4"><h2>Create Account</h2></legend>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-primary">Sign Up</button>
    </form>
    <p class="text-muted mt-2" style="font-size: small;">
        Already have an account?  
        <a href="{% url 'story9:sign_in' %}">Sign in</a>
    </p>
</div>
{% endblock content %}
