{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/story9.css' %}">
    <title>Story 9</title>
{% endblock head %}
 
{% block content %}
<div class="content-section align-self-center m-5" style="border-radius: 1em">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form class="col-12" method="POST">
        <legend class="border-bottom mb-4"><h2>Sign in</h2></legend>
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="material-icons">person</i></span>
            </div>
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
            </div>
            <input type="password" name="password" placeholder="Password" class="form-control"> 
        </div>
           
        <div class="text-right">
            <button type="submit" class="btn btn-outline-primary">Sign In</button>
        </div>
        <p class="text-muted" style="font-size: small;">Didn't have any account yet?  
            <a href="{% url 'story9:sign_up' %}">Sign up</a>
        </p>
    </form>
    
</div>
{% endblock content %}
